<li><a href="<%- url_for("/about") %>" class="nav-link<%- page.path.match(/about$/) ? ' current' : '' %>">Morpheus</a></li>
<li><a href="<%- url_for("/philosophy/") %>" class="nav-link<%- page.path.match(/philosophy/) ? ' current' : '' %>">Philosophy</a></li>
<li><a href="<%- url_for("/chinese/") %>" class="nav-link<%- page.path.match(/chinese/) ? ' current' : '' %>">Chinese</a></li>
<li><a href="<%- url_for("/greek/") %>" class="nav-link<%- page.path.match(/greek/) ? ' current' : '' %>">Ancient Greek</a></li>
<li><a href="<%- url_for("/sanskrit/") %>" class="nav-link<%- page.path.match(/sanskrit/) ? ' current' : '' %>">Sanskrit</a></li>
<%- partial('partials/section_dropdown') %>
<%- partial('partials/language_dropdown') %>
